{% extends "_blueprint/_base.html" %}
{% block css %}
  <link rel="stylesheet" href="sass/style2.css">
  <link rel="stylesheet" href="sass/bootstrap_override.css">
{% endblock css %}
{% block content %}

<div class="body-container">
	{% include "_blueprint/_nav.html" %}
	<div class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6" id="brand-guidelines">
					<div class="col-sm col-sm-offset-1">
						<div class="brand-guidelines-text-container">
							<h2 class="styled-h2">THINKCERCA</h2>
							<h1 class="styled-h1">Brand Guidelines</h1>
						</div>
						<p>Last edited April 2018</p>
					</div>
				</div>
				<div class="col-md-6" id="hello-thinker">
					<div class="col-sm-10 col-sm-offset-1 hello-thinker-body">
						<h1 class="styled-h1">Hello, Thinker.</h1>
						{{ intro_explained|markdown }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6" id="designer-starter-kit">
					<div class="designer-starter-kit-outline"></div>
					<div class="col-sm-10 col-sm-offset-1 designer-starter-kit-body">
						<div class="designer-starter-kit-logo-container">
							<img src="./img/icon-designer-starter-kit-logo.svg">
						</div>
						<h2 class="styled-h2 designer-starter-kit-h2 row-title-short">DESIGNER STARTER KIT</h2>
						{{ designer_kit_explained|markdown }}
						<button class="download-btn designer-starter-kit-btn" style="margin-top: 10px;"><a href="img/ThinkCERCA_designer-starter-kit.zip" download="ThinkCERCA_designer-starter-kit.zip" style="color: #ffffff;"> Download</a></button>
					</div>
				</div>
				<div class="col-md-6" id="designer-starter-kit-imgs">
					<div class="row designer-starter-kit-imgs-row-1"></div>
					<div class="row designer-starter-kit-imgs-row-2">
						<div class="col-sm-6 designer-starter-kit-imgs-row-2-left"></div>
						<div class="col-sm-6 designer-starter-kit-imgs-row-2-right">
							<h1 class="styled-h1">
								Aa Bb Cc<br>
								Dd Ee Ff<br>
								Gg Hh Ii<br>
								Jj Kk Ll<br>
								Mm Nn Oo 
							</h1>
						</div>
					</div>
				</div>			
			</div>
			<div class="row">
				<div class="col-md-6" id="our-purpose">
					<div class="col-sm-10 col-sm-offset-1">
						<h2 class="styled-h2 row-title-short blue-text our-purpose-title">OUR PURPOSE</h2>
						<h1 class="styled-h1 our-purpose-h1">Critical thinking is the catalyst for change.</h1>
						<div class="our-purpose-body">
							{{ our_purpose_explained|markdown }}
						</div>
					</div>
				</div>
				<div class="col-md-6" id="our-purpose-img">
				</div>
			</div>
			<div class="row" id="our-promise">
				<div class="col-md-11 col-md-offset-1">
					<h2 class="styled-h2 row-title">OUR PROMISE</h2>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<p class="our-promise-p">IT'S WHAT WE DO THAT NO ONE ELSE DOES.</p>
					<h1 class="styled-h1">
						We help people realize the power of their own minds, a collective power that sparks a world of courageous thinking. 
					</h1>
				</div>
				<div class="col-md-5">
					<p class="our-promise-p">HOW WE DELIVER ON THAT PROMISE.</p>
					<h1 class="styled-h1">
						Our research-based approach and relevant content equips 21st-century learners to take in information, think about it critically, and express their points of view effectively.
					</h1>
				</div>
			</div>
			<div class="row" id="yellow-row"></div>
			<div class="row" id="our-principles">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md col-md-offset-1">
							<h2 class="styled-h2 row-title" id="our-principles-title">OUR PRINCIPLES</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-md-offset-1">
							<h1 class="styled-h1">How we do everything we do.</h1>
						</div>					
						<div class="col-md-8">
							<div class="row">
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #307FE2">Be Rigorous</div>
									<p class="principles-p">
										Our methodology is ambitious. 
										To thrive, it has to be.
									</p>
								</div>
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #43B02A">Be Fierce</div>
									<p class="principles-p">
										We are passionately committed to delivering on student outcomes, and uncompromising in our support for our partners.
									</p>
								</div>
							</div>						
							<div class="row">
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #DE2527">
										Be Inclusive
									</div>
									<p class="principles-p">
										We stand for equity, and believe access to quality education is right, fair, and imperative.
									</p>
								</div>
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #0A4BB8">
										Be Supportive
									</div>
									<p class="principles-p">
										Critical thinking is not always easy. 
										Being helpful to those learning it, though, is.
									</p>
								</div>
							</div>						
							<div class="row">
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #FF6900">
										Be Solutions-Oriented
									</div>
									<p class="principles-p">
										Critical thinking is the key to solving many of the world’s problems. And we demonstrate that argumentative writing is the path to getting there.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="our-mantra">
				<div class="col-md-6" id="our-mantra-img"></div>
				<div class="col-md-6" id="our-mantra-text-container">
					<div class="col-sm-10 col-sm-offset-1">
						<h2 class="styled-h2 row-title-short">OUR MANTRA</h2>
						<h1 class="styled-h1 our-mantra-h1">Spark Courageous Thinking</h1>
						<div class="our-mantra-body">
							{{ our_mantra_explained|markdown }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "_blueprint/_footer.html" %}
	</div>
</div>

{% endblock content %}

