{% extends "_blueprint/_base.html" %}
{% block content %}

<div class="body-container">
	<div class="sidebar">
		<div class="main-logo-container">
			<a href="/"><img class="main-logo" src="./img/TC-Logo-Primary.svg"></a>
			<small class="brand-guidelines-small">Brand Guidelines</small>
		</div>
		<div class="search-bar-container">
			<input type="text" placeholder="Search" name="search-bar" id="search-bar">
		</div>
		<div class="nav-container" id="nav">
			<a href="#brand-links" class="nav-section nav-section-active" data-toggle="collapse">Brand</a>
			<ul id="brand-links" class="nav-dropdown collapse">
				<li><a href="#brand-guidelines" class="nav-link">Home</a><i class="icon-chevron-right"></i></li>
				<li><a href="#our-purpose" class="nav-link">Purpose</a><i class="icon-chevron-right"></i></li>
				<li><a href="#our-promise" class="nav-link">Promise</a><i class="icon-chevron-right"></i></li>
				<li><a href="#our-principles" class="nav-link">Principles</a><i class="icon-chevron-right"></i></li>
				<li><a href="#our-mantra" class="nav-link">Mantra</a><i class="icon-chevron-right"></i></li>
			</ul>
			<a href="#voice-links" class="nav-section" data-toggle="collapse">Voice</a>
			<ul id="voice-links" class="nav-dropdown collapse">
			</ul>
			<a href="#visual-links" class="nav-section" data-toggle="collapse">Visuals</a>
			<ul id="visual-links" class="nav-dropdown collapse">
			</ul>
		</div>
	</div>
	<div class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6" id="brand-guidelines">
					<div class="col-sm col-sm-offset-1">
						<div class="brand-guidelines-text-container">
							<h2 class="styled-h2">THINKCERCA</h2>
							<h1 class="styled-h1">Brand Guidelines</h1>
						</div>
						<p>Last edited January XX, 2018</p>
					</div>
				</div>
				<div class="col-md-6" id="hello-thinker">
					<div class="col-sm-10 col-sm-offset-1 hello-thinker-body">
						<h1 class="styled-h1">Hello Thinker.</h1>
						{{ intro_explained|markdown }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6" id="designer-starter-kit">
					<div class="designer-starter-kit-outline"></div>
					<div class="col-sm-10 col-sm-offset-1 designer-starter-kit-body">
						<div class="designer-starter-kit-logo-container">
							<img src="./img/home/icon-designer-starter-kit-logo.svg">
						</div>
						<h2 class="styled-h2 designer-starter-kit-h2 row-title-short">DESIGNER STARTER KIT</h2>
						{{ designer_kit_explained|markdown }}
						<button id="designer-starter-kit-btn">Download</button>
					</div>
				</div>
				<div class="col-md-6" id="designer-starter-kit-imgs">
					<div class="row designer-starter-kit-imgs-row-1"></div>
					<div class="row designer-starter-kit-imgs-row-2">
						<div class="col-sm-6 designer-starter-kit-imgs-row-2-left"></div>
						<div class="col-sm-6 designer-starter-kit-imgs-row-2-right">
							<h1 class="styled-h1">
								Aa Bb Cc<br>
								Dd Ee Ff<br>
								Gg Hh Ii<br>
								Jj Kk Ll<br>
								Mm Nn Oo 
							</h1>
						</div>
					</div>
				</div>			
			</div>
			<div class="row">
				<div class="col-md-6" id="our-purpose">
					<div class="col-sm-10 col-sm-offset-1">
						<h2 class="styled-h2 row-title-short blue-text our-purpose-title">OUR PURPOSE</h2>
						<h1 class="styled-h1 our-purpose-h1">Critical thinking is the catalyst for change.</h1>
						<div class="our-purpose-body">
							{{ our_purpose_explained|markdown }}
						</div>
					</div>
				</div>
				<div class="col-md-6" id="our-purpose-img">
				</div>
			</div>
			<div class="row" id="our-promise">
				<div class="col-md-11 col-md-offset-1">
					<h2 class="styled-h2 row-title">OUR PROMISE</h2>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<p class="styled-p our-promise-p">IT'S WHAT WE DO THAT NO ONE ELSE DOES.</p>
					<h1 class="styled-h1">
						We help people realize the power of their own minds, a collective power that sparks a world of courageous thinking. 
					</h1>
				</div>
				<div class="col-md-5">
					<p class="styled-p our-promise-p">HOW WE DELIVER ON THAT PROMISE.</p>
					<h1 class="styled-h1">
						We help people realize the power of their own minds, a collective power that sparks a world of courageous thinking. 
					</h1>
				</div>
			</div>
			<div class="row" id="yellow-row"></div>
			<div class="row" id="our-principles">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md col-md-offset-1">
							<h2 class="styled-h2 row-title" id="our-principles-title">OUR PRINCIPLES</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-md-offset-1">
							<h1 class="styled-h1">How we do everything we do.</h1>
						</div>					
						<div class="col-md-8">
							<div class="row">
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #307FE2">Be Rigorous</div>
									<p class="styled-p principles-p">
										Our methodology is ambitious. 
										To thrive, it has to be.
									</p>
								</div>
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #43B02A">Be Fierce</div>
									<p class="styled-p principles-p">
										We are passionately committed to delivering on student outcomes, and uncompromising in our support for our partners.
									</p>
								</div>
							</div>						
							<div class="row">
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #DE2527">
										Be Inclusive
									</div>
									<p class="styled-p principles-p">
										We stand for equity, and believe access to quality education is right, fair, and imperative.
									</p>
								</div>
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #FF6900">
										Be Solutions-Oriented
									</div>
									<p class="styled-p principles-p">
										Education is the road to solving problems. And we demonstrate that argumentative writing is the path to getting there.
									</p>
								</div>
							</div>						
							<div class="row">
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #0A4BB8">
										Be Supportive
									</div>
									<p class="styled-p principles-p">
										Critical thinking is not always easy. 
										Being helpful to those learning it, though, is.
									</p>
								</div>
								<div class="principle-container col-sm-5">
									<div class="principle-title" style="color: #00B7BD">
										Be Encouraging
									</div>
									<p class="styled-p principles-p">
										Everything we do, say, write, and evoke powers positive results — in students, teachers, administrators, and us.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="our-mantra">
				<div class="col-md-6" id="our-mantra-img"></div>
				<div class="col-md-6" id="our-mantra-text-container">
					<div class="col-sm-10 col-sm-offset-1">
						<h2 class="styled-h2 row-title-short">OUR MANTRA</h2>
						<h1 class="styled-h1 our-mantra-h1">Spark Courageous Thinking</h1>
						<div class="our-mantra-body">
							{{ our_mantra_explained|markdown }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2 col-lg-offset-10 footer-logo">
						<img src="./img/TC-Logo-Primary-WHITE.svg">
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>

{% endblock content %}

